<c-row ngPreserveWhitespaces>
  <c-col xs="8">
    <c-card class="mb-4" >
      <c-card-header >
        <strong> NUEVO PUNTO DE VENTA</strong> 
      </c-card-header>
      <c-card-body>
        <div class="tab-content rounded-bottom">
            <div class="tab-pane active show p-3 preview fade">
                <div>
                    <div class="mb-3">
                        <select aria-label="Default select example" cSelect name="id_branch" 
                                [value]="POINTSOFSALE().id_branch" (input)="updateId_branch($event)">
                            <option value="0">- SELECCIONE SUCURSAL(*) -</option>
                            @for(item of Branches; track item.id){
                                <option [value]="item.id">{{item.name}}</option>
                            }    
                        </select>
                    </div>
                    <div class="mb-3">
                        <label cLabel for="codigo_punto_emision">CODIGO PUNTO EMISION (*)</label>
                        <input cFormControl id="codigo_punto_emision" placeholder="Ej: 001..." type="text" [value]="POINTSOFSALE().codigo_punto_emision" (input)="updateCodigoPuntoEmision($event)" required/>    
                        <div *ngIf="!POINTSOFSALE().codigo_punto_emision.trim() && POINTSOFSALE().codigo_punto_emision !== ''" class="text-danger mt-1">
                            Codigo punto emision es obligatorio
                        </div> 
                    </div>
                    
                    <div class="mb-3">
                        <label cLabel for="secuencial_actual">SECUANCIAL ACTUAL FACTURA(*)</label>
                        <input cFormControl id="secuencial_actual" placeholder="Ej: 143..." type="text" [value]="POINTSOFSALE().secuencial_actual" (input)="updateSecuencialActual($event)" required/>    
                        <div *ngIf="!POINTSOFSALE().secuencial_actual.trim() && POINTSOFSALE().secuencial_actual !== ''" class="text-danger mt-1">
                            Secuencial actual es obligatorio
                        </div> 
                    </div>

                    <div class="mb-3">
                        <label cLabel for="secuencial_actual">SECUENCIAL ACTUAL RECIBO(*)</label>
                        <input cFormControl id="secuencial_actual_receivable" placeholder="Ej: 143..." type="text" [value]="POINTSOFSALE().secuencial_actual_receivable" (input)="updateSecuencialActualReceivable($event)" required/>    
                        <div *ngIf="!POINTSOFSALE().secuencial_actual_receivable.trim() && POINTSOFSALE().secuencial_actual_receivable !== ''" class="text-danger mt-1">
                            Secuencial actual recibo es obligatorio
                        </div> 
                    </div>

                    <div class="mb-3">
                        <label cLabel for="descripcion">DESCRIPCION (*)</label>
                        <input cFormControl id="descripcion" placeholder="Ej: Punto ABC es ..." type="text" [value]="POINTSOFSALE().descripcion" (input)="updateDescripcion($event)" required/>    
                        <div *ngIf="!POINTSOFSALE().descripcion.trim() && POINTSOFSALE().descripcion !== ''" class="text-danger mt-1">
                            Descripcion es obligatorio
                        </div>
                    </div>
                </div>
                
                <div class="d-grid gap-2">
                    <div class="row">
                        <div class="col-md-6">
                            <button cButton color="primary" title="Guardar" (click)="save()" [disabled]="!isFormValid()" class="w-100">
                                <svg [cIcon]="icons.cilSave" size="xl" ></svg>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button cButton color="danger" title="Cancelar" (click)="goList()" class="w-100">
                                <svg [cIcon]="icons.cilBan" size="xl" ></svg>
                            </button>                                                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content rounded-bottom">
            <div class="tab-pane active show p-3 preview fade">
                <ng-content />
            </div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
