@if(categories().length > 0){
  <div class="d-flex align-items-center gap-2 m-2">
      <input cFormControl id="buscarInput" [(ngModel)]="search"  placeholder="Buscar..." type="text"/>
      <button cButton color="info" shape="rounded-pill" title="Buscar" (click)="searchTo()">
        <svg [cIcon]="icons.cilMagnifyingGlass" size="xl"></svg>
      </button>
      <button cButton color="secondary" shape="rounded-pill" title="Actualizar" (click)="refresh()">
        <svg [cIcon]="icons.cilReload" size="xl"></svg>
      </button>
      <button cButton color="primary" shape="rounded-pill" title="Nuevo" (click)="createCategorie()">
        <svg [cIcon]="icons.cilPlus" size="xl"></svg>
      </button>
  </div>
  <table bordered  cTable>
    <thead cTableColor="light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Imagen</th>
        <th scope="col">Estado</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      @for (item of categories(); track item.id) {
        <tr>
          <th scope="row" style="width: 40px;">{{item.id}}</th>
          <td style="width: 150px;">{{item.name}}</td>
          <td style="width: 200px; ">
            <p>{{ item.description.length > 30 ? item.description.slice(0, 27) + '...' : item.description }}</p>
          </td>
          <td style="width: 40px;">
            <div class="d-flex justify-content-center align-items-center" >
              <img [src]="getImageUrl(item.imagen)" width="50px" height="50px !important">
            </div>
          </td>
          <td style="width: 60px;">
            @if(item.state == 1){
              <button cButton color="success" variant="outline" shape="rounded-pill" (click)="abrirModal(item)" title="Activo">
                <svg [cIcon]="icons.cilToggleOn" size="xl"></svg>
              </button>

              <!-- Modal controlado por [visible] -->
              <!-- <c-modal [visible]="modalId() === item.id" title="Desactivar {{item.name}}" (close)="cerrarModal()">
                <c-modal-header>
                  <h5 cModalTitle>Desactivar categoria</h5>
                  <button (click)="cerrarModal()" cButtonClose></button>
                </c-modal-header>
                <c-modal-body>
                  ¿Deseas desactivar categoria: <strong> {{item.name}} </strong>?
                </c-modal-body>
                <c-modal-footer>
                  <button cButton color="secondary" (click)="cerrarModal()">Cerrar</button>
                  <button cButton color="danger" (click)="changeState(item.id)">Desactivar</button>
                </c-modal-footer>
              </c-modal> -->
            }
            @if(item.state == 0){
              
              <!-- Botón abre el modal -->
              <button cButton color="danger" variant="outline" shape="rounded-pill" (click)="abrirModal(item)" title="Inactivo">
                <svg [cIcon]="icons.cilToggleOff" size="xl"></svg>
              </button>

              <!-- Modal controlado por [visible] -->
              <!-- <c-modal [visible]="modalId() === item.id" title="Desactivar {{item.name}}" (close)="cerrarModal()">
                <c-modal-header>
                  <h5 cModalTitle>Activar categoria</h5>
                  <button (click)="cerrarModal()" cButtonClose></button>
                </c-modal-header>
                <c-modal-body>
                  ¿Deseas activar categoria: <strong> {{item.name}} </strong>?
                </c-modal-body>
                <c-modal-footer>
                  <button cButton color="secondary" (click)="cerrarModal()">Cerrar</button>
                  <button cButton color="success" (click)="changeState(item.id)">Activar</button>
                </c-modal-footer>
              </c-modal> -->
            }
          </td>
          <td style="width: 60px;"> 
            <c-button-group aria-label="Basic mixed styles example" role="group">
              <button cButton color="info" title="Ver" (click)="verCategorie(item)">
                <svg [cIcon]="icons.cilLowVision" size="xl" ></svg>
              </button>
              <button cButton color="warning" title="Editar" (click)="editCategorie(item)">
                <svg cIcon name="cil-pen" size="xl" ></svg>
              </button>
            </c-button-group>
          </td>
        </tr>
      } 
    </tbody>
  </table>
  
  <div class="div-fijo-abajo" style="display: flex;">
    
    <ngb-pagination
        [collectionSize]="totalPages"
        [ellipses]="true"
        [maxSize]="5"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)">
    </ngb-pagination>
    <select [(ngModel)]="pageSize" (change)="listarCategories()">
      @for (item of itemForPage; track item.id) {
        <option  value="{{item.val}}">{{item.val}}</option>
      }
    </select>
  </div>


    <c-modal [visible]="!!selectedCategorie()" (close)="cerrarModal()">

      <c-modal-header>
          <h5 cModalTitle>
          {{ selectedCategorie()?.state === 1 ? 'Desactivar' : 'Activar' }} categoria
          </h5>
          <button cButtonClose (click)="cerrarModal()"></button>
      </c-modal-header>

      <c-modal-body>
          ¿Deseas
          {{ selectedCategorie()?.state === 1 ? 'desactivar' : 'activar' }}
          la categoria <strong>{{ selectedCategorie()?.name }}</strong>?
      </c-modal-body>

      <c-modal-footer>
          <button
              cButton
              [color]="selectedCategorie()?.state === 1 ? 'danger' : 'success'"
              (click)="changeState(selectedCategorie()?.id)">
              {{ selectedCategorie()?.state === 1 ? 'Desactivar' : 'Activar' }}
          </button>
          <button cButton color="secondary" (click)="cerrarModal()">Cerrar</button>
      </c-modal-footer>

    </c-modal>
<!-- }@else{
  <div class="loading-overlay text-center p-5">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
   
  </div>
} -->

}@else if(verifData == 0){
          <div class="loading-overlay text-center p-5">
              <div class="spinner-border" role="status" aria-hidden="true"></div>
          </div>
        }
        @else{
            <div class="d-flex align-items-center gap-2 m-2">
              <input cFormControl id="buscarInput" [(ngModel)]="search"  placeholder="Buscar..." type="text"/>
              <button cButton color="info" shape="rounded-pill" title="Buscar" (click)="searchTo()">
                <svg [cIcon]="icons.cilMagnifyingGlass" size="xl"></svg>
              </button>
              <button cButton color="secondary" shape="rounded-pill" title="Actualizar" (click)="refresh()">
                <svg [cIcon]="icons.cilReload" size="xl"></svg>
              </button>
              <button cButton color="primary" shape="rounded-pill" title="Nuevo" (click)="createCategorie()">
                <svg [cIcon]="icons.cilPlus" size="xl"></svg>
              </button>
            </div>
            <table bordered  cTable>
              <thead cTableColor="light">
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                      <svg class="icon" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                        <path d="M7 9h10M7 13h10M7 17h6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M4 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12.5a1.5 1.5 0 0 1-2.33 1.24L12 16l-5.67 3.74A1.5 1.5 0 0 1 4 18.5V6Z" stroke="currentColor" stroke-width="1.5" />
                      </svg>
                      <h1>No hay datos para mostrar</h1>
                      <p>
                        Aún no se encontraron registros. Intenta ajustar los filtros, crear un nuevo elemento
                        o recargar la página.
                      </p>
                  </td>
                </tr>
              </tbody>
            </table>
        }