@if(!isEmpty){
    <c-row ngPreserveWhitespaces>
      <c-col xs="8">
        <c-card class="mb-4" >
          <c-card-header style="width: 20rem;">
            <!-- Usuario: <strong> {{USER().name}}</strong>  -->
            
            <div class="mb-3">
                <input  cFormControl
                        type="file"
                        hidden
                        id="categorieImage"
                        accept="image/*"
                        (change)="processFile($event)"/>
                <img    [src]="imagen_previsualiza"
                        (click)="clickInputFileHide()"
                        class="img-thumbnail"
                        style="width: 120px; height: 120px; object-fit: cover; cursor: pointer"
                        title="Click para cambiar imagen"/>
            </div>
            
            
            <!-- @if(USER().imagen){
                <img cCardImg="top" [src]="USER().imagen">
            }@else{
                <img cCardImg="top" src="./../../../../assets/images/sin_imagen.jpg">
            } -->
                
          </c-card-header>
          <c-card-body>
            <div class="tab-content rounded-bottom">
                <div class="tab-pane active show p-3 preview fade">
                    <div>
                        <div class="mb-3">
                            <label cLabel for="name">Nombre (*)</label>
                            <input cFormControl id="name" placeholder="Ej: Simón Bolívar" type="text" [value]="USER().name" (input)="updateName($event)"required/>    
                            <div *ngIf="!USER().name.trim() && USER().name !== ''" class="text-danger mt-1">
                                El nombre es obligatorio
                            </div> 
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-8">
                                    <label cLabel for="email">Email (*)</label>
                                    <input cFormControl id="email" placeholder="Ej: ejemplo@email.com" readonly type="email" [value]="USER().email"/>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label cLabel>Rol (*)</label>
                                    <select
                                        cSelect
                                        [ngModel]="USER().role"
                                        (ngModelChange)="updateRole($event); roleTouched = true"
                                        [class.is-invalid]="roleTouched && !USER().role"
                                        (blur)="roleTouched = true">

                                        <option value="">— Seleccione rol —</option>

                                        @for (item of roles; track $index) {
                                            <option [value]="item">
                                            <!-- {{ item  }} -->
                                                    @if(item == 'admin'){
                                                        Administrador
                                                    }
                                                    @if(item == 'user'){
                                                        Usuario
                                                    }
                                            </option>
                                        }
                                    </select>

                                    <small class="text-danger" *ngIf="roleTouched && !USER().role">
                                    El rol es obligatorio
                                    </small>
                                </div>

                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label cLabel>Sucursal (*)</label>
                                    <select
                                        cSelect
                                        [ngModelOptions]="{ standalone: true }"
                                        [ngModel]="USER().id_branch"
                                        (ngModelChange)="updateIdBranch($event); id_branchTouched = true"
                                        [class.is-invalid]="id_branchTouched && USER().id_branch === 0"
                                        (blur)="id_branchTouched = true">

                                        <option [ngValue]=0>— Seleccione sucursal —</option>

                                        @for (item of branches; track item.id) {
                                            <option [ngValue]="item.id">
                                            {{ item.name }}
                                            </option>
                                        }
                                    </select>

                                    <small class="text-danger" *ngIf="id_branchTouched && USER().id_branch === 0">
                                        La sucursal es obligatoria
                                    </small>
                                </div>


                                <div class="col-md-6 mb-3">
                                    <label cLabel>Punto de venta (*)</label>
                                    <select
                                        cSelect
                                        [ngModelOptions]="{ standalone: true }"
                                        [ngModel]="USER().id_point_of_sale"
                                        (ngModelChange)="updateIdPointOfSale($event); point_of_saleTouched = true"
                                        [class.is-invalid]="point_of_saleTouched && USER().id_point_of_sale === 0"
                                        (blur)="point_of_saleTouched = true">

                                        <option [ngValue]=0>— Seleccione punto de venta —</option>

                                        @for (item of pointsOfSale(); track $index) {
                                            <option [ngValue]="item.id_point_of_sale">
                                                {{ item.codigo_punto_emision }}
                                            </option>
                                        }
                                    </select>

                                    <small class="text-danger" *ngIf="point_of_saleTouched && USER().id_point_of_sale === 0">
                                        La sucursal es obligatoria
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2">
                        <div class="row">
                            <div class="col-md-6">
                                <button cButton color="primary" title="Guardar" (click)="save()" [disabled]="!isFormValid()" class="w-100">
                                    <svg [cIcon]="icons.cilSave" size="xl" ></svg>
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button cButton color="danger" title="Cancelar" (click)="goList()" class="w-100">
                                    <svg [cIcon]="icons.cilBan" size="xl" ></svg>
                                </button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="tab-content rounded-bottom">
                <div class="tab-pane active show p-3 preview fade">
                    <ng-content />
                </div>
            </div> -->
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
}@else{
  <div class="loading-overlay text-center p-5">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
}
