@if (isFull) {
  <c-card class="mb-4 shadow-sm" style="max-width: 700px">
    <c-row class="g-0">

      <!-- IMAGEN -->
      <c-col md="4" class="overflow-hidden">
        <img
          cCardImg="start"
          [src]="imagen_previsualiza"
          class="d-none d-md-block h-100 w-100 object-fit-cover"
          style="object-position: center"
          alt="Imagen del producto" />
      </c-col>

      <!-- CONTENIDO -->
      <c-card-body cCol md="8" class="d-flex flex-column">

        <h4 class="mb-3 fw-semibold">
          {{ PRODUCT().name || '— Sin nombre —' }}
        </h4>

        <table>
          <tr>
            <td><strong>Código:</strong></td>
            <td>{{ PRODUCT().cod_pro || '—' }}</td>
          </tr>
          <tr>
            <td><strong>Código de barras:</strong></td>
            <td>            
              <div class="mt-2">
                <img [src]="'data:image/png;base64,' + PRODUCT().cod_pro_barras_img"
                  alt="Código de barras" class="img-fluid">
                  <div class=" text-center fw-semibold">
                    {{ PRODUCT().cod_pro_barras || '—' }}
                  </div>
              </div>
            </td>
          </tr>
          <tr>
            <td><strong>Descripción:</strong></td>
            <td>{{ PRODUCT().description || '—' }}</td>
          </tr>
          <tr>
            <td><strong>Categoría:</strong></td>
            <td>{{ PRODUCT().categorie?.name || '—' }}</td>
          </tr>
          <tr>
            <td><strong>Precio:</strong></td>
            <td>${{ PRODUCT().price | number:'1.2-2' }}</td>
          </tr>
          <tr>
            <td><strong>Stock:</strong></td>
            <td>{{ PRODUCT().stock }}</td>
          </tr>
          <tr>
            <td><strong>Stock mínimo:</strong></td>
            <td>{{ PRODUCT().stock_min }}</td>
          </tr>
          <tr>
            <td><strong>Tarifa iva:</strong></td>
            <td>{{ ivaValor.value }} %</td>
          </tr>
          <tr *ngIf="PRODUCT().tarifa_ice">
            <td><strong>Tarifa ice:</strong></td>
            <td>
              <tr>
                <td>-Cod: {{ PRODUCT().tarifa_ice.codigo_porcentaje }}</td>
              </tr>
              <tr>
                <td>-Tar: {{ PRODUCT().tarifa_ice.tarifa }} %</td>
              </tr>
              <tr>
                <td>-Tipo: {{ PRODUCT().tarifa_ice.tipo }}</td>
              </tr>            
            </td>
          </tr>
        </table>

        <small class="text-medium-emphasis mb-3">
          Creado {{ tiempo_creacion }}
        </small>

        <!-- BOTONES -->
        <div class="mt-auto d-flex gap-2">
          <button
            cButton
            color="warning"
            title="Editar producto"
            (click)="goUpdateProduct()">
            <svg cIcon name="cil-pen" size="lg"></svg>
          </button>

          <button
            cButton
            color="secondary"
            title="Regresar"
            (click)="goBack()">
            <svg [cIcon]="icons.cilActionUndo" size="lg"></svg>
          </button>
        </div>

      </c-card-body>
    </c-row>
  </c-card>
} @else {
  <div class="loading-overlay text-center p-5">
    <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
}
