




<c-card class="mb-4">
  <c-card-header>
    <strong>DATOS DEL CLIENTE</strong>
  </c-card-header>
  <c-card-body>
    <div class="row">
        <div class="col-md-1 mb-3 mt-3">
            <button [cModalToggle]="ModalOne.id" cButton (click)="openModalSelectCustomer()" title="Seleccionar cliente">
                <svg [cIcon]="icons.cilMagnifyingGlass" size="xl"></svg>
            </button>
            <c-modal id="liveDemoModalOne" #ModalOne alignment="center">
                <c-modal-header>
                    <h5 cModalTitle>Selecciona cliente</h5>
                    <button [cModalToggle]="ModalOne.id" cButtonClose ></button>
                </c-modal-header>
                <c-modal-body>
                    <label>Ingresa nombre de cliente o cédula/ruc y selecciona</label>    
                    <div class="d-flex align-items-center gap-2 m-2">
                        <input cFormControl id="buscarInput" [(ngModel)]="search_ngModelCustomer"  placeholder="Ej: Simon Bolivar   /   1711122234" type="text"/>
                        <button cButton color="primary" shape="rounded-pill" title="Buscar" (click)="searchToCustomer()">
                            <svg [cIcon]="icons.cilMagnifyingGlass" size="xl"></svg>
                        </button>
                        <button [cModalToggle]="ModalTwo.id" cButton color="info">
                            <svg [cIcon]="icons.cilPlus" size="xl"></svg>
                        </button>
                    </div>
                    <div *ngIf="customers().length > 0">
                        <div class="d-flex align-items-center gap-2 m-2" >
                            <div style="width: 40%;">
                                <label for=""><strong> Nombre </strong></label>
                            </div>
                            <div style="width: 40%;">
                                <label for=""><strong># Identificador</strong></label>
                            </div>
                            <div style="width: 20%;">
                                <label for=""></label>
                            </div>
                        </div>          
                        <ul cListGroup>
                            @for(customer of customers(); track customer.id){
                                <li  cListGroupItem>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div style="width: 40%;">
                                            {{customer.name}}
                                        </div>
                                        <div style="width: 40%;">
                                            {{customer.num_identificador}}
                                        </div>
                                        <div style="width: 20%;" >
                                            <button cButton color="info" variant="outline" [cModalToggle]="ModalOne.id" (click)="selectCustomer(customer)"  
                                                title="Seleccionar" >
                                                <svg [cIcon]="icons.cilHandPointLeft" size="xl"></svg>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>      
                    <div *ngIf="customers().length == 0 && searchCustomerNull == true" class="d-flex align-items-center gap-2 m-2">
                        <label style="color: red;">! No hay cliente con la informacion ingresada !</label>
                    </div>
                </c-modal-body>
                <c-modal-footer>
                    <button [cModalToggle]="ModalOne.id" cButton color="secondary" >
                    Cerrar
                    </button>
                </c-modal-footer>
            </c-modal>
            <c-modal id="liveDemoModalTwo" #ModalTwo>
                <c-modal-header>
                    <h5 cModalTitle>Nuevo cliente</h5>
                    <button [cModalToggle]="ModalTwo.id" cButtonClose></button>
                </c-modal-header>
                <c-modal-body>
                    <div class="tab-content rounded-bottom">
                        <div class="tab-pane active show p-3 preview fade">
                            <div>
                                <div class="mb-3">
                                    <label cLabel for="name">Nombre (*)</label>
                                    <input cFormControl id="name" placeholder="Ej: Simón Bolívar" type="text" [value]="customerNew().name" (input)="updateName($event)" required/>    
                                    <div *ngIf="!customerNew().name.trim() && customerNew().name !== ''" class="text-danger mt-1">
                                        El nombre es obligatorio
                                    </div> 
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label cLabel for="num_identificador">#Identificadpr (*)</label>
                                            <input cFormControl id="num_identificador" placeholder="Ej: 1718192021" type="text" [value]="customerNew().num_identificador" (input)="updateNumIdentificador($event)" required />
                                            <div *ngIf="!customerNew().num_identificador.trim() && customerNew().num_identificador !== ''" class="text-danger mt-1">
                                                El #Identificador es obligatorio
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label cLabel for="email">Email (*)</label>
                                            <input cFormControl id="email" placeholder="Ej: email@gmail.com" type="email" [value]="customerNew().email" (input)="updateEmail($event)" required />
                                            <div *ngIf="!customerNew().num_identificador.trim() && customerNew().num_identificador !== ''" class="text-danger mt-1">
                                                El email es obligatorio
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                          <label cLabel for="phome">Telefono (*)</label>
                                          <input cFormControl id="phone" placeholder="Ej: 0987654321" type="tel" [value]="customerNew().phone" (input)="updatePhone($event)"/>
                                          <!-- <input cFormControl id="phome" [ngModelOptions]="{standalone: true}" [(ngModel)]="CUSTOMER().phone" placeholder="Ej: 0982223471" type="text" /> -->
                                          <div *ngIf="!customerNew().phone.trim() && customerNew().phone !== ''" class="text-danger mt-1">
                                              El teléfono es obligatorio
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="mb-3">
                                  <label cLabel for="address">Direccion (*)</label>
                                  <input cFormControl id="address" placeholder="Ej: Av siempre viva" type="text" [value]="customerNew().address" (input)="updateAddress($event)"/>
                                  <!-- <input cFormControl id="address" [ngModelOptions]="{standalone: true}" [(ngModel)]="CUSTOMER().address" placeholder="Ej: Av. amazonas 0e3-123 y ..." type="text" /> -->
                                  <div *ngIf="!customerNew().address.trim() && customerNew().address !== ''" class="text-danger mt-1">
                                      La direccion es obligatorio
                                  </div>
                              </div>

                            </div>
                        </div>
                    </div>
                    <div class="tab-content rounded-bottom">
                        <div class="tab-pane active show p-3 preview fade">
                            <ng-content />
                        </div>
                    </div>
                </c-modal-body>
                <c-modal-footer>
                    <button  cButton color="primary" title="Guardar" 
                        [cModalToggle]="ModalTwo.id" (click)="saveCustomer()" class="w-100" [disabled]="!isFormValid()">
                        <svg [cIcon]="icons.cilSave" size="xl" ></svg>
                    </button>
                    <button cButton color="danger" class="w-100" 
                        [cModalToggle]="ModalOne.id"  title="Regresar" >
                        <svg [cIcon]="icons.cilActionUndo" size="xl" ></svg>
                    </button>
                </c-modal-footer>
            </c-modal>
        </div>
        <div class="col-md-4 mb-3">
            <label>Ruc / Cédula</label>
            <input cInput type="text" readonly class="form-control" [(ngModel)]="customerSelect.num_identificador">
        </div>
        <div class="col-md-4 mb-3">
            <label>Nombre / Razón Social</label>
            <input cInput type="text" readonly class="form-control" [(ngModel)]="customerSelect.name">
        </div>

        <div class="col-md-3 mb-3 mt-3">
          <label  class="text-center d-block">Tipo cobro</label>
          <c-form-check inline>
            <input cFormCheckInput [(ngModel)]="selectedTypeSale" (click)="onTypeSaleChange()" value="1" id="radioinline1" name="radioinline" type="radio" />
            <label cFormCheckLabel for="radioinline1">Contado</label>
          </c-form-check>
          <c-form-check inline>
            <input cFormCheckInput [(ngModel)]="selectedTypeSale" (click)="onTypeSaleChange()" value="2" id="radioinline2" name="radioinline" type="radio" />
            <label cFormCheckLabel for="radioinline2">Credito</label>
          </c-form-check>
        </div>      

    </div>
  </c-card-body>
</c-card>

<c-card class="mb-4">
  <c-card-header>
    <strong>DETALLE DE PRODUCTOS</strong>
  </c-card-header>
  <c-card-body>
    <div class="row mb-3">
      <div class="col-md-1 mb-3 mt-3">
        <button (click)="toggleLiveDemo()" cButton style="margin: inherit;" title="Seleccionar producto">
          <svg [cIcon]="icons.cilMagnifyingGlass" size="xl"></svg>
        </button >

        <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
          <c-modal-header>
            <h5 cModalTitle>Selecciona producto</h5>
            <button (click)="toggleLiveDemo()" cButtonClose></button>
          </c-modal-header>
          <c-modal-body>
            <label>Ingresa nombre de producto y selecciona</label>    
            <div class="d-flex align-items-center gap-2 m-2">
                <input cFormControl id="buscarInputProduct" [(ngModel)]="search_ngModelProduct"  placeholder="Ej: producto A   /   1711122234" type="text"/>
                <button cButton color="primary" shape="rounded-pill" title="Buscar" (click)="searchToProduct()">
                    <svg [cIcon]="icons.cilMagnifyingGlass" size="xl"></svg>
                </button>
            </div>
            <div *ngIf="products().length > 0">
                <div class="d-flex align-items-center gap-2 m-2" >
                    <div style="width: 20%;">
                        <label for=""><strong> Codigo </strong></label>
                    </div>
                    <div style="width: 35%;">
                        <label for=""><strong> Nombre </strong></label>
                    </div>
                    <div style="width: 35%; text-align: center;">
                        <label for=""><strong> Precio </strong></label>
                    </div>
                    <div style="width: 20%;">
                        <label for=""></label>
                    </div>
                </div>          
                <ul cListGroup>
                    @for(product of products(); track product.id){
                        <li  cListGroupItem>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div style="width: 20%;">
                                    {{product.cod_pro}}
                                </div>
                                <div style="width: 35%;">
                                    {{product.name}}
                                </div>
                                <div style="width: 35%; text-align: center;">
                                    {{product.price}}
                                </div>
                                <div style="width: 20%;" >
                                    <button cButton color="info" variant="outline" (click)="selectProduct(product)"  
                                        title="Seleccionar" >
                                        <svg [cIcon]="icons.cilHandPointLeft" size="xl"></svg>
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>      
            <div *ngIf="products().length == 0 && searchProductNull == true" class="d-flex align-items-center gap-2 m-2">
                <label style="color: red;">! No hay producto con la informacion ingresada !</label>
            </div>

          </c-modal-body>
          <c-modal-footer>
            <button (click)="toggleLiveDemo()" cButton color="secondary">
              Cerrar
            </button>
            <!-- <button cButton color="primary">Save changes</button> -->
          </c-modal-footer>
        </c-modal>
      </div>
      <div class="col-md-3 mb-3 mt-3">
        <div class="col-md-12">
          <label>PROD.</label>
          <input cFormControl id="name" placeholder="Producto" type="text" [value]="producto().name" (input)="updateProductName($event)" readonly/>    
        </div>
      </div>
      <div class="col-md-2 mb-3 mt-3">
        <div class="col-md-12">
          <label>PREC.</label>
          <input cFormControl id="price" placeholder="2,33" type="number" [value]="producto().price" (input)="updateProductPrice($event)" required/>    
        </div>
      </div>
      <div class="col-md-2 mb-3 mt-3">
        <div class="col-md-12">
          <label>CANT.</label>
          <input cFormControl id="quantity" placeholder="7" type="number" [value]="producto().quantity" (input)="updateProductQuantity($event)" required/>    
        </div>
      </div>
      <div class="col-md-2 mb-3 mt-3">
        <div class="col-md-12">
          <label>DESC. %</label>
          <input cFormControl id="discount" placeholder="10" type="number" [value]="producto().discount" (input)="updateProductDiscount($event)" required/>    
        </div>
      </div>

      <div class="col-md-2 mb-3 mt-3">
        <div class="col-md-12" style="margin: inherit;">
          <label></label>
          <button cButton color="success" (click)="agregarProducto()" [disabled]="!isAddProductValid()" >
            <svg [cIcon]="icons.cilPlus" size="xl"></svg>
          </button>
        </div>
      </div>    
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width: 35%;">Producto</th>
          <th style="width: 16%;">P. Unitario</th>
          <th style="width: 16%;">Cantidad</th>
          <th style="width: 16%;">Subtotal</th>
          <th style="width: 17%;">Descuento</th>
          <th style="width: 17%;">Iva</th>
          
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.name }}</td>
          <td>{{ item.price | currency:'USD' }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.subtotal | currency:'USD' }}</td>
          <td>{{ item.discount | currency:'USD' }}</td>
          <td>{{ item.iva | currency:'USD' }}</td>

          <td>
            <button cButton color="danger" size="sm" (click)="eliminarProducto(item)">
              <svg [cIcon]="icons.cilDelete" size="xl"></svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>

<c-card class="mb-4">
  <c-card-header>
    <strong>RESUMEN DE FACTURA</strong>
  </c-card-header>
  <c-card-body>
    <div class="d-flex justify-content-between">
      <div><strong>Subtotal:</strong></div>
      <div>{{ calcularSubtotal() | currency:'USD' }}</div>
    </div>
    <div class="d-flex justify-content-between">
      <div><strong>Descuento:</strong></div>
      <div>{{ calcularDescuentoTotal() | currency:'USD' }}</div>
    </div>
    <div class="d-flex justify-content-between">
      <div><strong>Iva:</strong></div>
      <div>{{ calcularIva() | currency:'USD' }}</div>
    </div>
    <div class="d-flex justify-content-between">
      <div><strong>Total:</strong></div>
      <div><h5> {{ calcularTotal() | currency:'USD' }} </h5></div>    
    </div>
  </c-card-body>
  <c-card-footer class="text-end">
    <div class="d-grid gap-2">
      <button cButton color="primary" (click)="save()" title="Guardar factura" [disabled]="!isSaleValid()">
        <svg [cIcon]="icons.cilSave" size="xl"></svg>
      </button>
      <button cButton color="danger" (click)="goList()"  title="Regresar">
          <svg [cIcon]="icons.cilActionUndo"  size="xl" ></svg>
      </button>

    </div>
  </c-card-footer>
</c-card>
