@if(BRANCH){
    <c-row ngPreserveWhitespaces>
    <c-col xs="8">
        <c-card class="mb-4" *ngIf="BRANCH">
        <c-card-header >
            SUCURSAL: <strong> {{BRANCH.name}}</strong>
        </c-card-header>
        <c-card-body>
            <div class="tab-content rounded-bottom">
                <div class="tab-pane active show p-3 preview fade">
                    <div>
                        <div class="mb-3">
                            <label cLabel for="name">Sucursal(*)</label>
                            <input cFormControl id="name" [ngModelOptions]="{standalone: true}" [(ngModel)]="name" placeholder="Springfild..." type="text" />
                        </div>
                        <div class="mb-3">
                            <label cLabel for="address">Direccion(*)</label>
                            <input cFormControl id="address" [ngModelOptions]="{standalone: true}" [(ngModel)]="address" placeholder="Avenida siempre viva ..." type="text" />
                        </div>
                        <div class="mb-3">
                            <label cLabel for="phone">Telefono(*)</label>
                            <input cFormControl id="phone" [ngModelOptions]="{standalone: true}" [(ngModel)]="phone" placeholder="Avenida siempre viva ..." type="text" />
                        </div>
                    </div>
                    
                    <div class="d-grid gap-2">
                        <button cButton color="primary" title="Actualizar" (click)="save()">
                            <svg [cIcon]="icons.cilSave" size="xl" ></svg>
                        </button>
                        <button cButton color="danger" title="Cancelar" (click)="goList()">
                            <svg [cIcon]="icons.cilBan" size="xl" ></svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="tab-content rounded-bottom">
                <div class="tab-pane active show p-3 preview fade">
                    <ng-content />
                </div>
            </div>
        </c-card-body>
        </c-card>
    </c-col>
    </c-row>
}@else{
  <div class="loading-overlay text-center p-5">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
}

