<c-row ngPreserveWhitespaces>
  <c-col xs="10">
    <c-card class="mb-4" >
      <c-card-header >
        <strong> Nuevo cliente</strong> 
      </c-card-header>
      <c-card-body>
        <div class="tab-content rounded-bottom">
            <div class="tab-pane active show p-3 preview fade">
                <div>
                    <div class="mb-3">
                        <label cLabel for="name">Nombre (*)</label>
                        <input cFormControl id="name" placeholder="Ej: Simón Bolívar" type="text" [value]="CUSTOMER().name" (input)="updateName($event)" required/>    
                        <!-- <input cFormControl id="name" [ngModelOptions]="{standalone: true}" [(ngModel)]="CUSTOMER().name" placeholder="Ej: Simon Bolivar ..." type="text"/> -->
                        <div *ngIf="!CUSTOMER().name.trim() && CUSTOMER().name !== ''" class="text-danger mt-1">
                            El nombre es obligatorio
                        </div> 
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-4">
                                <label cLabel for="num_identificador">#Identificadpr (*)</label>
                                <input cFormControl id="num_identificador" placeholder="Ej: 1718192021" type="text" [value]="CUSTOMER().num_identificador" (input)="updateNumIdentificador($event)" required />
                                <!-- <input cFormControl id="num_identificador" [ngModelOptions]="{standalone: true}" [(ngModel)]="CUSTOMER().num_identificador" placeholder="Ej: 1712338765" type="text" /> -->
                                <div *ngIf="!CUSTOMER().num_identificador.trim() && CUSTOMER().num_identificador !== ''" class="text-danger mt-1">
                                    El #Identificador es obligatorio
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label cLabel for="email">Email (*)</label>
                                <input cFormControl id="email" placeholder="Ej: ejemplo@email.com" type="email" [value]="CUSTOMER().email" (input)="updateEmail($event)" required />
                                <div *ngIf="CUSTOMER().email && !isEmailValid()" class="text-danger mt-1">
                                    Formato de correo inválido
                                </div>
                                <!-- <input cFormControl id="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="CUSTOMER().email" placeholder="Ej: email@gmail.com" type="email" /> -->
                            </div>
                            <div class="col-md-4">
                                <label cLabel for="phome">Telefono (*)</label>
                                <input cFormControl id="phone" placeholder="Ej: 0987654321" type="tel" [value]="CUSTOMER().phone" (input)="updatePhone($event)"/>
                                <!-- <input cFormControl id="phome" [ngModelOptions]="{standalone: true}" [(ngModel)]="CUSTOMER().phone" placeholder="Ej: 0982223471" type="text" /> -->
                                <div *ngIf="!CUSTOMER().phone.trim() && CUSTOMER().phone !== ''" class="text-danger mt-1">
                                    El teléfono es obligatorio
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label cLabel for="address">Direccion (*)</label>
                        <input cFormControl id="address" placeholder="Ej: Av siempre viva" type="text" [value]="CUSTOMER().address" (input)="updateAddress($event)"/>
                        <!-- <input cFormControl id="address" [ngModelOptions]="{standalone: true}" [(ngModel)]="CUSTOMER().address" placeholder="Ej: Av. amazonas 0e3-123 y ..." type="text" /> -->
                        <div *ngIf="!CUSTOMER().address.trim() && CUSTOMER().address !== ''" class="text-danger mt-1">
                            La direccion es obligatorio
                        </div>
                    </div>

                </div>
                
                <div class="d-grid gap-2">
                    <div class="row">
                        <div class="col-md-6">
                            <button cButton color="primary" title="Guardar" (click)="save()" [disabled]="!isFormValid()" class="w-100">
                                <svg [cIcon]="icons.cilSave" size="xl" ></svg>
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button cButton color="danger" title="Cancelar" (click)="goList()" class="w-100">
                                <svg [cIcon]="icons.cilBan" size="xl" ></svg>
                            </button>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content rounded-bottom">
            <div class="tab-pane active show p-3 preview fade">
                <ng-content />
            </div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

