@if(CONFIGURATION){
    <c-row ngPreserveWhitespaces>
    <c-col xs="8">
        <c-card class="mb-4" *ngIf="CONFIGURATION">
        <c-card-header >
            Configuracion: <strong> {{CONFIGURATION.name}}</strong>
        </c-card-header>
        <c-card-body>
            <div class="tab-content rounded-bottom">
                <div class="tab-pane active show p-3 preview fade">
                    <div *ngIf="name != 'iva' && name != 'logoPdf'" >
                        <div class="mb-3">
                            <label cLabel for="name">Nombre configuracion (*)</label>
                            <input cFormControl id="name" [ngModelOptions]="{standalone: true}" [(ngModel)]="name" placeholder="Ej: version xml..." type="text" />
                        </div>
                        <div class="mb-3">
                            <label cLabel for="value">Valor (*)</label>
                            <input cFormControl id="value" [ngModelOptions]="{standalone: true}" [(ngModel)]="value" placeholder="Ej: 2.1.0 ..." type="text" />
                        </div>
                    </div>
                        
                    <div *ngIf="name == 'iva'" >
                        <div class="mb-3">
                            <label cLabel for="name">Nombre configuracion (*)</label>
                            <input cFormControl id="name" [ngModelOptions]="{standalone: true}" [(ngModel)]="name" placeholder="Ej: version xml..." type="text" />
                        </div>
                        <div class="mb-3">
                            <label cLabel for="value">Valor (*)</label>
                            <select 
                                cFormControl id="value" class="form-select"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="value">
                                <option *ngFor="let item of tarifas_iva" [ngValue]="item.porcentaje">
                                    {{ item.porcentaje }} % (cod: {{ item.codigo }})
                                </option>
                            </select>
                        </div>
                    </div>    
                        
                    <div *ngIf="name == 'logoPdf'">
                        <div class="mb-3">
                            <label cLabel for="name">Nombre configuracion (*)</label>
                            <input cFormControl id="name" [ngModelOptions]="{standalone: true}" [(ngModel)]="name" placeholder="Ej: version xml..." type="text" />
                        </div>
                        <div class="mb-3">
                            <label cLabel for="value">Valor (*)</label>
                            <input
                                type="file"
                                hidden
                                id="logoPdf"
                                accept="image/*"
                                (change)="processFile($event)"/>
                            <img
                                [src]="imagen_previsualiza"
                                (click)="clickInputFileHide()"
                                class="img-thumbnail"
                                style="width: 120px; height: 120px; object-fit: cover; cursor: pointer"
                                title="Click para cambiar imagen"/>
                        </div>
                    </div>    

                    <div class="d-grid gap-2">
                        <button cButton color="primary" title="Actualizar" (click)="save()">
                            <svg [cIcon]="icons.cilSave" size="xl" ></svg>
                        </button>
                        <button cButton color="danger" title="Cancelar" (click)="goList()">
                            <svg [cIcon]="icons.cilBan" size="xl" ></svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="tab-content rounded-bottom">
                <div class="tab-pane active show p-3 preview fade">
                    <ng-content />
                </div>
            </div>
        </c-card-body>
        </c-card>
    </c-col>
    </c-row>
}@else{
  <div class="loading-overlay text-center p-5">
      <div class="spinner-border" role="status" aria-hidden="true"></div>
  </div>
}

