
<c-row>
  <c-col xs="12" md="10" lg="8">
    <c-card class="mb-4 shadow-sm">
      <c-card-header>
        <strong>🆕 Nuevo producto</strong>
      </c-card-header>
      <c-card-body>

        <!-- CATEGORÍA -->
        <div class="row">
          <div class="col-md-8 mb-3">
            <label cLabel>Categoría (*)</label>
            <select
                cSelect
                [class.is-invalid]="id_categorieTouched && PRODUCT().id_categorie === '0'"
                (blur) ="id_categorieTouched = true"
                [value]="PRODUCT().id_categorie"
                (change)="updateId_categorie($event); id_categorieTouched = true">
                <option value="0">— Seleccione categoría —</option>
                @for(item of Categories; track item.id) {
                    <option [value]="item.id">{{ item.name }}</option>
                }
            </select>
            <small class="text-danger" *ngIf="id_categorieTouched && PRODUCT().id_categorie === '0'">
                La categoría es obligatoria
            </small>
          </div>
          <div class="col-md-3 mb-3">
            <label cLabel>Tarifa (*)</label>
            <select
                class="text-center"
                cSelect
                [class.is-invalid]="id_tarifa_ivaTouched && PRODUCT().id_tarifa_iva === '0'"
                (blur) ="id_tarifa_ivaTouched = true"
                [value]="PRODUCT().id_tarifa_iva"
                (change)="updateId_tarifa_iva($event); id_tarifa_ivaTouched = true">
                <option value="0">— Seleccione tarifa iva —</option>
                @for(item of Tarifas_iva; track item.id) {
                    <option [value]="item.id">{{ item.porcentaje }}%</option>
                }
            </select>
            <small class="text-danger" *ngIf="id_tarifa_ivaTouched && PRODUCT().tarifa === '0'">
                La tarifa es obligatoria
            </small>
          </div>
        </div>

        <!-- CÓDIGO / NOMBRE -->
        <div class="row">
          <div class="col-md-4 mb-3">
            <label cLabel>Código (*)</label>
            <input
              cFormControl
              type="text"
              placeholder="Ej: PRD-001"
              [value]="PRODUCT().cod_pro"
              (input)="updateCod($event)"
              [class.is-invalid]="cod_proTouched && !PRODUCT().cod_pro?.trim()"
              (blur)="cod_proTouched = true"
              (change)="updateCod($event); cod_proTouched = true"/>
            <small class="text-danger" *ngIf="cod_proTouched && !PRODUCT().cod_pro?.trim()">
              Código obligatorio
            </small>
          </div>

          <div class="col-md-8 mb-3">
            <label cLabel>Nombre (*)</label>
            <input 
              cFormControl
              type="text"
              placeholder="Ej: Producto A"
              [value]="PRODUCT().name"
              (input)="updateName($event)"
              [class.is-invalid]="nameTouched && !PRODUCT().name?.trim()"
              (blur)="nameTouched = true"
              (change)="updateName($event); nameTouched = true"/>
            <small class="text-danger" *ngIf="nameTouched && !PRODUCT().name?.trim()">
              Nombre obligatorio
            </small>
          </div>
        </div>

        <!-- PRECIO / STOCK -->
        <div class="row">
          <div class="col-md-4 mb-3">
            <label cLabel>Precio (*)</label>
            <input
              cFormControl
              type="number"
              min="0"
              step="0.01"
              placeholder="Ej: 2.50"
              [value]="PRODUCT().price"
              (input)="updatePrice($event)"
              [class.is-invalid]="priceTouched && !PRODUCT().price?.trim()"
              (blur)="priceTouched = true"
              (change)="updatePrice($event); priceTouched = true" />
            <small class="text-danger" *ngIf="priceTouched && PRODUCT().price <= 0">
              Precio inválido
            </small>
          </div>

          <div class="col-md-4 mb-3">
            <label cLabel>Stock (*)</label>
            <input
              cFormControl
              type="number"
              min="0"
              placeholder="Ej: 10"
              [value]="PRODUCT().stock"
              (input)="updateStock($event)"
              [class.is-invalid]="stockTouched && (PRODUCT().stock < 0 || PRODUCT().stock === '')"
              (blur)="stockTouched = true"
              (change)="updateStock($event); stockTouched = true"/>
            <small class="text-danger" *ngIf="stockTouched && (PRODUCT().stock < 0 || PRODUCT().stock === '')">
              Stock inválido
            </small>
          </div>

          <div class="col-md-4 mb-3">
            <label cLabel>Stock mínimo (*)</label>
            <input
              cFormControl
              type="number"
              min="0"
              placeholder="Ej: 3"
              [value]="PRODUCT().stock_min"
              (input)="updateStockMin($event)"
              [class.is-invalid]="stock_minTouched && (PRODUCT().stock_min < 0 || PRODUCT().stock_min === '')"
              (blur)="stock_minTouched = true"
              (change)="updateStockMin($event); stock_minTouched = true"/>
            <small class="text-danger" *ngIf="stock_minTouched && (PRODUCT().stock_min < 0 || PRODUCT().stock_min === '')">
              Stock mínimo inválido
            </small>
          </div>
        </div>

        <div class="row">
            <!-- DESCRIPCIÓN -->
            <div class="col-md-8 mb-3">
                <label cLabel>Descripción (*)</label>
                <textarea
                    cFormControl
                    rows="4"
                    placeholder="Descripción del producto..."
                    (input)="updateDescription($event)"
                    [value]="PRODUCT().description"
                    [class.is-invalid]="descriptionTouched && !PRODUCT().description?.trim()"
                    (blur)="descriptionTouched = true"
                    (change)="updateDescription($event); descriptionTouched = true">
                        {{ PRODUCT().description }}
                    </textarea>

                <small class="text-danger" *ngIf="descriptionTouched && !PRODUCT().description?.trim()">
                    La descripción es obligatoria
                </small>
            </div>
            <!-- IMAGEN -->
            <div class="col-md-4 mb-3">
                <label cLabel class="d-block mb-1">Imagen</label>
                <input
                    type="file"
                    hidden
                    id="productImage"
                    accept="image/*"
                    (change)="processFile($event)"/>
                <img
                    [src]="imagen_previsualiza"
                    (click)="clickInputFileHide()"
                    class="img-thumbnail"
                    style="width: 120px; height: 120px; object-fit: cover; cursor: pointer"
                    title="Click para cambiar imagen"/>
            </div>
        </div>
        
        <!-- BOTONES -->
        <div class="row g-2">
          <div class="col-md-6">
            <button
              cButton
              color="primary"
              class="w-100"
              [disabled]="!isFormValid()"
              (click)="save()">
              <svg [cIcon]="icons.cilSave"></svg>
              Guardar
            </button>
          </div>

          <div class="col-md-6">
            <button
              cButton
              color="danger"
              class="w-100"
              (click)="goList()"
            >
              <svg [cIcon]="icons.cilBan"></svg>
              Cancelar
            </button>
          </div>
        </div>

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
