<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="4" xl="6">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h1>Nueva contraseña</h1>
                <p class="text-body-secondary">Ingrese su nueva contraseña</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input [type]="showPassword ? 'text' : 'password'"  name="password" [(ngModel)]="password" autoComplete="password" cFormControl placeholder="Contraseña"/>
                  <span class="input-group-text" style="cursor:pointer" (click)="showPassword = !showPassword">
                      <i class="cil-eye" *ngIf="!showPassword"></i>
                      <i class="cil-eye-slash" *ngIf="showPassword"></i>
                  </span>
                </c-input-group>

                <p class="text-body-secondary">Confirme su nueva contraseña</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input [type]="showConfirmPassword ? 'text' : 'password'" name="confirm_password" [(ngModel)]="confirm_password" autoComplete="confirm password" cFormControl placeholder="Confirme su nueva contraseña"/>
                  <span class="input-group-text" style="cursor:pointer" (click)="showConfirmPassword = !showConfirmPassword">
                      <i class="cil-eye" *ngIf="!showPassword"></i>
                      <i class="cil-eye-slash" *ngIf="showPassword"></i>
                  </span>
                </c-input-group>
                
                <c-row>
                  <c-col xs="6">
                    <button [disabled]="disableBtn" (click)="updatePassword()" cButton class="px-4" color="primary">
                      @if(loadingRegister){
                        <c-spinner aria-hidden="false" size="sm"></c-spinner>Cargando...
                      }@else{
                        Guardar nueva contraseña
                      }
                    </button>
                    
                  </c-col>
                  <c-col xs="6">
                    <button (click)="sendLogin()" cButton class="px-4" color="secondary">
                        Ir a login
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <!-- <c-card [ngStyle]="{'minWidth.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Registrarse</h2>
                <p>
                  Registrate para que puedas ingresar al sistema
                   y utilizar sus funciones.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Registrate ahora!
                </button>
              </div>
            </c-card-body>
          </c-card> -->
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
