
<app-widgets-dropdown />
@if(mainChart.data && mainChart.options && mainChart.type){
  <c-card class="my-4" style="overflow: hidden;" >
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Ventas</h4>
        <div class="small text-body-secondary">Enero - Diciembre {{mainChart.current_year}}</div>
      </c-col>
    </c-row>
    <c-chart [data]    ="mainChart.data"
             [options] ="mainChart.options"
             [type]    ="mainChart.type"
             [height]  ="350"
             (chartRef)="handleChartRef($event)">
    </c-chart>
  </c-card-body>
</c-card>
}@else{
    <div class="loading-overlay text-center p-5">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
    </div>
}

