@if(products().length > 0){
  <div class="d-flex align-items-center gap-2 m-2">
      <input cFormControl id="buscarInput" [(ngModel)]="search"  placeholder="Buscar..." type="text"/>
      <button cButton color="info" shape="rounded-pill" title="Buscar" (click)="searchTo()">
        <svg [cIcon]="icons.cilMagnifyingGlass" size="xl"></svg>
      </button>
      <button cButton color="secondary" shape="rounded-pill" title="Actualizar" (click)="refresh()">
        <svg [cIcon]="icons.cilReload" size="xl"></svg>
      </button>
      <button cButton color="primary" shape="rounded-pill" title="Nuevo" (click)="createProduct()">
        <svg [cIcon]="icons.cilPlus" size="xl"></svg>
      </button>
  </div>
  <table bordered  cTable>
    <thead cTableColor="light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Tarifa iva</th>
        <th scope="col">Imagen</th>
        <th scope="col">Estado</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      @for (item of products(); track item.id) {
        <tr>
          <th scope="row" style="width: 40px;">{{item.id}}</th>
          <td style="width: 50px;">{{item.cod_pro}}</td>
          <td style="width: 200px;">{{item.name}}</td>
          <td style="width: 100px; text-align: center;">{{item.price}}</td>
          <td style="width: 100px; text-align: center;">{{item.stock}}</td>
         
          @if(item.tarifa_iva == 0){
            <td style="width: 100px; text-align: center;">NO</td>
          }@else{
            <td style="width: 100px; text-align: center;">SI</td>
          }
          
          <td style="width: 40px;">
            <div class="d-flex justify-content-center align-items-center" >
              <img *ngIf="item.imagen"  [src]="(item.imagen)" width="50px" height="50px !important">
              <img *ngIf="!item.imagen" [src]="imagen_previsualiza" width="50px" height="50px !important">
            </div>
          </td>
          <td style="width: 60px;">
            @if(item.state == 1){
              <button cButton color="success" variant="outline" shape="rounded-pill" (click)="openModalState(item)" title="Activo">
                <svg [cIcon]="icons.cilToggleOn" size="xl"></svg>
              </button>

            }
            @if(item.state == 0){
              
              <!-- Botón abre el modal -->
              <button cButton color="danger" variant="outline" shape="rounded-pill" (click)="openModalState(item)" title="Inactivo">
                <svg [cIcon]="icons.cilToggleOff" size="xl"></svg>
              </button>

            }
          </td>
          <td style="width: 60px;"> 
            <c-button-group aria-label="Basic mixed styles example" role="group">
              <button cButton color="info" title="Ver" (click)="viewProduct(item)">
                <svg [cIcon]="icons.cilLowVision" size="xl" ></svg>
              </button>
              <button cButton color="warning" title="Editar" (click)="editProduct(item)">
                <svg cIcon name="cil-pen" size="xl" ></svg>
              </button>
            </c-button-group>
          </td>
        </tr>
      } 
    </tbody>
  </table>
  

    <div class="div-fijo-abajo bg-white border-top shadow-sm px-3 py-2">
    <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
      <!-- PAGINACIÓN -->
      <ngb-pagination
        class="mb-0"
        [collectionSize]="totalPages"
        [ellipses]="true"
        [maxSize]="5"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)">
      </ngb-pagination>
      <!-- SELECT PAGE SIZE -->
      <div class="d-flex align-items-center gap-2">
        <small class="text-muted">Filas:</small>
        <select 
          cFormControl
          class="form-select form-select-sm w-auto"
          [(ngModel)]="pageSize" 
          (change)="listarProducts()">

          @for (item of itemForPage; track item.id) {
            <option [value]="item.val">
              {{ item.val }}
            </option>
          }

        </select>
      </div>
    </div>
  </div>



    <c-modal [visible]="!!selecteProduct()" (close)="closerModalState()">

    <c-modal-header>
        <h5 cModalTitle>
        {{ selecteProduct()?.state === 1 ? 'Desactivar' : 'Activar' }} producto
        </h5>
        <button cButtonClose (click)="closerModalState()"></button>
    </c-modal-header>

    <c-modal-body>
        ¿Deseas
        {{ selecteProduct()?.state === 1 ? 'desactivar' : 'activar' }}
        al producto <strong>{{ selecteProduct()?.name }}</strong>?
    </c-modal-body>

    <c-modal-footer>
        <button
            cButton
            [color]="selecteProduct()?.state === 1 ? 'danger' : 'success'"
            (click)="changeState(selecteProduct()?.id)">
            {{ selecteProduct()?.state === 1 ? 'Desactivar' : 'Activar' }}
        </button>
        <button cButton color="secondary" (click)="closerModalState()">Cerrar</button>
    </c-modal-footer>

  </c-modal>

}@else if(verifData == 0){
          <div class="loading-overlay text-center p-5">
              <div class="spinner-border" role="status" aria-hidden="true"></div>
          </div>
        }
        @else{
            <div class="d-flex align-items-center gap-2 m-2">
              <input cFormControl id="buscarInput" [(ngModel)]="search"  placeholder="Buscar..." type="text"/>
              <button cButton color="info" shape="rounded-pill" title="Buscar" (click)="searchTo()">
                <svg [cIcon]="icons.cilMagnifyingGlass" size="xl"></svg>
              </button>
              <button cButton color="secondary" shape="rounded-pill" title="Actualizar" (click)="refresh()">
                <svg [cIcon]="icons.cilReload" size="xl"></svg>
              </button>
              <button cButton color="primary" shape="rounded-pill" title="Nuevo" (click)="createProduct()">
                <svg [cIcon]="icons.cilPlus" size="xl"></svg>
              </button>
            </div>
            <table bordered  cTable>
              <thead cTableColor="light">
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                      <svg class="icon" viewBox="0 0 24 24" fill="none" aria-hidden="true">
                        <path d="M7 9h10M7 13h10M7 17h6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
                        <path d="M4 6a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12.5a1.5 1.5 0 0 1-2.33 1.24L12 16l-5.67 3.74A1.5 1.5 0 0 1 4 18.5V6Z" stroke="currentColor" stroke-width="1.5" />
                      </svg>
                      <h1>No hay datos para mostrar</h1>
                      <p>
                        Aún no se encontraron registros. Intenta ajustar los filtros, crear un nuevo elemento
                        o recargar la página.
                      </p>
                  </td>
                </tr>
              </tbody>
            </table>
        }